<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; font-src 'self' https://www.haifapremierleague.com; script-src 'self' https://vercel.live; style-src 'self' 'unsafe-inline'; img-src 'self' data:;">

    <title>Welcome</title>
</head>

<body>
    <h1>
        Haifa Premier League
    </h1>
</body>

</html>